@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}
#contacts2-4 P {
  text-align: left;
}

#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-6 .mbr-navbar__section {
  background: #000000;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-6 .mbr-brand__name a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}

#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-a .mbr-navbar__section {
  background: #000000;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-a .mbr-brand__name a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}
#contacts2-b P {
  text-align: left;
}

#msg-box4-i .mbr-header__text {
  color: #ffffff;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
}
#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-d .mbr-navbar__section {
  background: #000000;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .mbr-brand__name a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}
#contacts2-e P {
  text-align: left;
}
